body {
  width: 60%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-weight: 300;
  line-height: 1.3;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  color: #444;
}
ul {
  list-style: none;
}

ul li:before {
  content: "✓ ";
}
.container {
  display: flex;
  width: 100%;
}
.left-side {
  width: 70%;
  min-height: 120vh;
}

/* right side css */
.right-side {
  width: 30%;
  background-color: #f2f2f2;
  min-height: 120vh;
}
.displayProfile {
  width: 100%;
  display: block;
  text-align: center;
}
.displayProfile img {
  margin-top: 80px;
  width: 60%;
  border-radius: 50%;
  border: 3px solid #444;
}
.Links,
.Skills,
.contactInfo {
  margin-top: 25px;
}
.sidebar-div .sidebar-title {
  margin-left: 20px;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 0.8em;
  position: relative;
  display: inline-block;
}
.sidebar-div:hover {
  cursor: pointer;
}
.sidebar-div .sidebar-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #444;
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

.sidebar-div:hover .sidebar-title::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.contact-div,
.social-div {
  width: 80%;
  margin: auto;
}
<<<<<<< HEAD
=======
a{
    text-decoration: none;
    color: #444;
}
>>>>>>> 702e3f0e3fdb78f6c529b4c94d039b5c2933700d
